.App {
  text-align: center;
}

/* Navbar for desktop and hamburger menu for tablet and phone */

.navbar-container {
  background-color: antiquewhite;
}

.hamburger-menu {
  background-color: black;
  color: white;
}

/* Websites sections */

.home-container {
  background: url("./media/images/header.jpg");
  height: 25%;
  width: 100%;
}

.about-container {
  background-color: grey;
}

.my-services-container {
  background-color: powderblue;
}

.my-mission-container {
  background-color: lightpink;
}

.footer-container {
  background-color: rgb(101, 101, 212);
}

/* CTA and order buttons */

.cta-button {
  background-color: green;
}

.order-button {
  background-color: green;
}