body {
  margin: 0;
  padding: 0;
  border: none;
}

img {
  max-width: -webkit-fill-available;
}

.App {
  text-align: center;
}

/* Navbar for desktop and hamburger menu for tablet and phone */

.navbar-container {
  background-color: antiquewhite;
}

.hamburger-menu {
  background-color: black;
  color: white;
}

/* Websites sections */

/* Home */

.home-header {
  font-weight: 700;
  color: #71B2DE;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.banner-img {
  max-width: 100vw;
  max-height: 50vh;
}

.home-text {
  padding: 20px 50px;
  margin: auto;
  max-width: 50vw;
}

// .row>* {
//   padding: 0;
// }

/* About */

.before-and-after {
  max-width: 80%;
}

#about-container {
  background-color: rgb(244, 225, 177);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.about-col1 {
  background-color: aqua;
}

.about-col2 {
  background-color: rgb(189, 102, 185);
}

.about-col3 {
  background-color: rgb(117, 110, 233);
}

.about-col4 {
  background-color: rgb(152, 229, 148);
}


/* My Services */

.my-services-container {
  background-color: powderblue;
}

.content-container {
  display: flex;
  position: relative;
  padding: 0 2rem;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.content-container p {
  background: rgba(255, 255, 255, 0.7);
  padding: 0.6rem 1rem;
}

.my-mission-container {
  background-image: url("./media/images/chopping-board.jpg");
}

.footer-container {
  background-color: rgb(101, 101, 212);
}

/* CTA and order buttons */

.cta-button {
  position: relative;
  background-color: green;
  width: 25vw;
  height: 5vh;
  align-self: end;
  margin-right: 10px;
}

.order-button {
  background-color: green;
}

/* Navigation */

nav.navbar {
  padding: 1.5rem 1rem;
}

nav.navbar ol {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

nav.navbar ol li {
  list-style: none;
  padding-left: 1rem;
}


/* Media queries tablet breakpoints */

@media only screen and (min-width: 600px) {

  .home-container-wrapper {
    display: block;
    background: url("https://images.pexels.com/photos/1128678/pexels-photo-1128678.jpeg") no-repeat;
    background-size: cover;
  }

  .home-container {
    max-width: 50vw;
  }
}